<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <include file="Common:common"/>
    <load href="__PUBLIC__/css/common/rightCommon.css"/>
</head>

<body>
<!--alert弹窗Start  -->
<div id="top-alert" class="fixed alert alert-error" style="display:none;">
    <button class="close fixed" style="margin-top: 4px;">&times;</button>
    <div class="alert-content">这是内容</div>
</div>
<!--alert弹窗end  -->
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">客服关联大师列表</a>
    </div>
    <div>
        <!--<button type="button" class="btn btn-danger navbar-btn listButton" onclick="deleteDomainLabel('customer')"><i class="fa fa-trash-o" aria-hidden="true"></i> 删除</button>-->
        <!--<button type="button" class="btn btn-info navbar-btn listButton" onclick="editData('addCustomer')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 修改</button>-->
        <!--<button type="button" class="btn btn-success navbar-btn listButton" onclick="openAddData('addCustomer')"><i class="fa fa-plus" aria-hidden="true"></i> 新建</button>-->
        <form class="navbar-form navbar-right listSearch" role="search" method="get" action="__ACTION__">

            <!--<div class="form-group">-->
                <!--<input name="keyWord" type="text" class="form-control" id="keyWord" placeholder="请输入关键词进行搜索">-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> 搜索</button>-->
        </form>
    </div>
</nav>

<div class="list-box">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th>选择</th>
            <th>编号</th>
            <th>大师名称</th>
            <th>大师手机号</th>
            <th>大师等级</th>
        </tr>
        </thead>
        <tbody>
        <volist name="list" id="vo">
            <tr>
                <td><input type="checkbox" name="del_listID" id="del_listID" data-name="multi-select"
                           value="<{$vo.id}>"/></td>
                <td><{$vo.id}></td>
                <td><{$vo.geomancer_name}></td>
                <td><{$vo.geomancer_tel}></td>
                <td><{$vo.geomancer_tel}></td>
            </tr>
        </volist>
        </tbody>
    </table>
</div>


<ul class="pagination">
    <{$page}>
</ul>
<script src="__PUBLIC__/js/status/status.js"></script>
</body>
</html>
<script>
    //是否推荐
    $('.status1').click(function(){
        var this_=$(this);
        var table,id,status,statusInfo,text1,text2;
        table  = this_.find('a').attr('data-table');
        id     = this_.find('a').attr('data-id');
        status = this_.find('a').attr('data-status');
        text1  = this_.find('a').attr('data-text1');
        text2  = this_.find('a').attr('data-text2');
        if(status == 0){
            statusInfo = 1;
        }else{
            statusInfo = 0;
        }
        $.post(APP+'/Domainlabel/is_recommend',{table:table,id:id,status:statusInfo},function(data){
            if(data.success == 1){
                if(data.status == 0 && id == data.id){
                    this_.html('<a class="btn btn-danger" data-table="'+data.table+'" data-id="'+data.id+'" data-status="'+data.status+'" data-text1="'+text1+'" data-text2="'+text2+'" href="javascript:void(0);">'+text1+'</a>');
                }else{
                    this_.html('<a class="btn btn-success" data-table="'+data.table+'" data-id="'+data.id+'" data-status="'+data.status+'" data-text1="'+text1+'" data-text2="'+text2+'" href="javascript:void(0);">'+text2+'</a>');
                }
            }else{
                updateAlert(data.info);
                setTimeout(function(){
                    $('#top-alert').find('button').click();
                    this_.removeClass('disabled').prop('disabled',false);
                },1500);
            }
        });
    });


    //列表页面点击删除按钮
    function deleteDomainLabel(table){
        var delID = '';
        $("input[name=del_listID]:checked").each(function() {
            delID += $(this).val() + ",";
        });
        //用户群组里的超级管理员不能删只能修改
        if(table == 'Group' && delID.indexOf(AUTH_GROUP_ID) != -1){
            $.show({
                title : '提示',
                isConfirm: false,
                content : '超级管理员群组不能删除如有改动请修改！'
            });
            return false;
        }
        //后台管理员里的admin用户不能删除只能修改
        if(table == 'Adminuser' && delID.indexOf(AUTH_USER_ID) != -1){
            $.show({
                title : '提示',
                isConfirm: false,
                content : '后台超级管理员不能删除如有改动请修改！'
            });
            return false;
        }
        if(delID.length <= 0){
            $.show({
                title : '提示',
                isConfirm: false,
                content : '请选择要删除的数据！'
            });
        }else{
            $.showAsk({
                title : '删除数据',
                type : 'warning',
                content : '确定要删除吗？',
                callback : function(){
                    $.post(APP+'/Domainlabel/deleteDomainLabel',{delID : delID,table : table},function(){
                        reload();
                    });
                }
            });
        }
    }
</script>
